.MuiCardHeader-title {
  font-size: 1.1rem !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
}

.MuiCardHeader-subheader {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}
.MuiCardHeader-root {
  background-color: rgb(243, 243, 243);

  padding: 8px !important;
}

.TopPlaceRow {
  display: flex;
  flex-direction: row;
  padding: 10px 5px;
  width: 100%;
  margin: 0;
  flex-wrap: wrap;
}
.TopPlaceCol--4 {
  width: 33%;
  align-items: center;
  display: flex;
}
.TopPlaceCol--8 {
  width: 67%;
  align-items: center;
  padding-left: 10px;
}

.TopPlaceAvatar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TopPlaceAvatar-span {
  font-size: 0.9rem;
  font-weight: 500;
  padding-right: 10px;
  color: #777;
}

.TopPlaceName-p {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgb(82, 77, 77);
}

.TopPlaceRating-div {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.TopPlaceRating-span {
  font-size: 0.75rem;
  font-weight: 500;
  font-style: italic;
  color: #444;
  padding-left: 5px;
}

.TopPlaceReview-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TopPlaceReview-p {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 400;
  color: rgb(58, 57, 57);
  text-align: center;
}
.css-1006a9p-MuiChip-root {
  height: fit-content;
  padding: 5px;
}
