.tab-container {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.tab-head {
  margin-bottom: 10px;
}

.select-filter {
  height: 32px;
  font-size: 12px;
}

.add-button {
  height: 32px;
  text-transform: none !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}

.skeleton {
  width: 30px;
  height: 35px;
  margin-right: 8px;
}

.color-tag {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: flex;
}

.color-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.head-left {
  display: flex;
  align-items: center;
}
.head-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search-field {
  display: flex;
  align-items: center;
  width: 80%;
  min-width: 100px;
  border-radius: 20px;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 2px 5px 0px rgba(95, 95, 95, 0.69);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(95, 95, 95, 0.69);
  -moz-box-shadow: 2px 2px 5px 0px rgba(95, 95, 95, 0.69);
}
.search-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
  color: rgb(83, 83, 83);
  font-size: 14px;
  border-radius: 20px;
}
.search-input:focus {
  outline: none;
  border: none;
}

.search-icon {
  justify-content: flex-end;
  right: 10px;
  color: grey;
}
