.edit__main{
    margin-bottom: 2rem;
}
.place--edit__container--image{
    margin: 3rem;
}
.edit__back{
    background-color: var(--second-color-white);
    height: 2.5rem;
}
.edit__back--icon{
    display: flex;
    height: 2.5rem;
    width: 2.4rem;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.edit__back--icon:hover{
    background-color: var(--second-bg-light);
}
.edit__icon{
    cursor: pointer;
}
.notfound__div{
    padding-top: 4rem;
    padding-bottom: 4rem;
}