.sidebar {
  /* min-width: 17vw; */
  height: 100vh;
  left: 0;
  top: 0;
  background-color: var(--main-bg);
  font-size: 20px;
  transition: width 1s;
}

.sidebar__logo {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__logo > img {
  height: 45px;
}

.sidebar__item {
  padding: 0 10px;
  margin-top: 3px;
}

.sidebar__item-inner {
  padding: 0.8rem 0.5rem;
  /* margin: .5rem 1rem; */
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 400;
}

.sidebar__item-inner > i {
  margin-right: 3px;
}

.sidebar__item-inner > span {
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: clip;
}

.sidebar__item-inner:hover {
  color: var(--main-color);
}

.sidebar__item-inner.active {
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  color: var(--txt-white);
}

.title {
  padding-left: 1.2rem;
  font-weight: 600;
  font-size: 0.9rem;
}
