.CommentReport-card {
  height: 450px;
  scrollbar-width: 2px;
  padding: 0;
  margin: 10px;
  overflow-y: scroll !important;
  scrollbar-color: rgba(155, 155, 155, 0.411);
  padding-bottom: 5px;
}

.skeleton-res{
  width: 80%;
  color: rgba(202, 190, 190, 0.616);
}

.skeleton-circle{
  width: 17%;
}

.skeleton-div{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px
}