.status-setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10;
  margin-top: 10;
}

.dialog-title {
  font-size: 18px !important;
  padding: 10px 20px 0px 20px;
  font-weight: 700;
  color: rgb(54, 54, 54);
}

.divider {
  margin: 15px 35px !important;
}
.label {
  font-size: 16px;
  padding: 0 10px;
  color: var(--txt-color);
  font-weight: 600;
  display: block;
}

.color-picker {
  height: 30px !important;
  width: 30px !important;
  border-radius: 10px;
}

.color-text {
  font-size: 14px;
  font-weight: 500;
  color: rgb(82, 82, 82);
  letter-spacing: 1px;
  padding-left: 10px;
}

.input-text {
  text-transform: capitalize;
}
