.unit-contain {
  width: 272px;
  height: 100%;
  display: inline-block;
  background: var(--card-background);
  padding: 0.333rem 0.5rem;
  margin: 0 0.5rem;
  border-radius: 7px;
}
.contain-header {
  display: flex;
  padding: 2px;
  align-items: baseline;
}
.contain-header textarea {
  max-height: 256px;
  width: 100%;
  background: var(--card-background);
  border: none;
  font-size: 19px;
  font-weight: 600;
}
.add-item {
  padding: 4px;
  font-size: 20px;
  padding-bottom: 2px;
}
.add-item:hover {
  background: rgba(1, 7, 17, 0.08);
}
