.header {
  font-weight: bold;
  margin-left: 1rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.btnCreate {
  width: 19rem;
  height: 11rem;
  background-color: #e7e9ed;
  align-self: center;
  justify-items: center;
  align-items: center;
  display: grid;
  margin-left: 8px;
  border-radius: 8px;
  margin-top: 4px;
  cursor: pointer;
}
.btnCreate:hover {
  background-color: #e7efed;
  cursor: pointer;
}
.iconPlus {
  border-radius: 10rem;
}
.iconPlus:hover {
  background-color: gray;
}
.imgReview {
  background-repeat: no-repeat;
  background-size: center/cover;
}
.skeleton {
  display: flex;

  flex-wrap: wrap;
}
