.exploreItem {
  width: 19rem;
  height: 11rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.exploreItem:hover .divBlur {
  visibility: visible;
}

.divBlur {
  width: 19rem;
  height: 11rem;
  z-index: -1;
  background: rgb(100, 106, 119, 0.7);
  display: inline-flex;
  align-items: flex-end;
  justify-content: baseline;
  height: 100%;
  border-radius: 6px;
  transition: width 2s, height 2s, transform 2s;
  visibility: hidden;
}
.icon {
  width: auto;
  height: auto;
  justify-content: flex-end;
  align-items: center;

  padding: 4px;
}
.div__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0.25rem;

  margin-left: 0.5rem;
  padding-left: 0.25rem;
  color: white;

}
.explore__info--txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 0.5rem;
  color: #f0f0f0;
}
.div__edit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  color: #2196f3;
  margin-right: 4px;
  margin-bottom: 4px;
}
.exploreContainer {
  margin-left: 0.5rem;
  margin-top: 1.8rem;
  padding: 1rem;
}
.exploreItem__image {
  position: relative;
}
.explore__info {
  display: grid;
}
.title {
  font-weight: bold;
  margin-bottom: .5rem;
}
.description {
  font-weight: lighter;
  font-size: 12px;
}
