.tag {
  padding: 4px;
  border-radius: 5px;
  margin-left: 2px;
  margin-top: 4px;
  font-size: 12px;
}

.tag--category {
    background-color: var(--second-color-blue-pastel);
}
.tag--province {
    background-color: var(--main-color-blue-pastel);
}
.tag--private {
  background-color: var(--third-color-red);
  color: var(--second-bg);
}
.tag--active{
  background-color: var(--main-color-green);
  color: white;
}
.tag--disable{
  background-color: var(--third-color-red);
  color: white;
}
