body {
  /* font-size: 1.5rem; */
}
input {
  font-size: 1.2rem;
}
.login {
  width: 30rem;
  height: 39%;
  background-color: rgb(93,124,136, 0.6) ;
  border-radius: 10px;
  padding: 3rem;
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 99;
}
.div-logo {
  justify-content: center;
  display: flex;
}
.logo {
  color: var(--main-color);
  width: 200px;
  height: 200px;
}
.display-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn-google-login {
  color: black;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn {
  width: 100%;
  display: block;
  padding: 1rem 0.76rem;
  border: 0;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.google-logo {
  width: 17px;
  height: 17px;
  margin: 0;
  padding: 0;
  margin-right: 3px;
}
.label-choose {
  position: relative;
  text-align: center;
  padding: 1rem 0.76rem;
}
.label-or {
  padding: 0px 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: white;
  text-align: center;

}
.label-choose::before {
  content: "";
  display: inline-block;
  border-top: 1px solid white;
  margin: 0px auto;
  position: absolute;
  height: 0px;
  inset: 50% 0px 0px;
  z-index: -1;
  transform: translateY(-50%);
}
.main-div {
  width: 100vw;
  height: 100vh;
  /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    background-size: cover;
}
.main-blur{
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.3;
}