.status-card {
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: var(--main-bg);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease 0s;
  margin-bottom: 30px;
  border: 1px solid rgba(144, 202, 249, 0.46);
}

.status-card__icon {
  width: 65px;
  height: 65px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 8px;
  opacity: 0.8;
}

.status-card__info {
  flex-grow: 1;
  text-align: center;
  z-index: 1;
  text-transform: capitalize;
}

.status-card__info > h4 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.status-card::before {
  content: "";
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-image: linear-gradient(
    to top right,
    var(--main-color),
    var(--second-color)
  );
  position: absolute;
  left: -50%;
  top: 0;
  transform: scale(0);
  transition: transform 0.8s ease 0s;
}

.status-card:hover::before {
  transform: scale(3);
}

.status-card:hover {
  color: var(--txt-white);
}

@media screen and (max-width: 1279px) {
  .status-card {
    padding: 1rem;
  }
  .status-card__info > h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .status-card__icon {
    width: 45px;
    height: 45px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 1023px) {
  .status-card__info > h4 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .status-card__info > span {
    font-size: 13px;
  }
  .status-card__icon {
    width: 35px;
    height: 35px;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 600px) {
}
