.card__statistic {
  display: flex;
  flex-flow: wrap;
  padding-top: 1rem;
  padding: 2rem;
    padding-bottom: .5rem;
}

@media screen and (max-width: 1279px) {
    .card__statistic{
        padding: 0px;
    }
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 600px) {
}
