.place--form__error{
    font-style: italic;
    color: var(--main-color-red);
    font-size: 11px;
    margin-left: 4px;
}
.popup__button{
    width: 100%;
    display: flex;
    align-items: baseline ;
    flex-direction: row-reverse;
}
