.login-field {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 20px;
}
.login-field i {
  color: var(--main-color);
  text-align: center;
  width: 1.5rem;
}

.login-field input {
  background-color: white;
  color: var(--main-color);
  border: 0;
  outline: none;
  width: 100%;
  margin-left: 0.5rem;
}
.btn-normal-login {
  color: white;
  background-color: #0277bd;
  box-shadow: rgba(5, 5, 5, 0.3) 0px 2px 8px 0px;
}
.btn {
  width: 100%;
  display: block;
  padding: 1rem 0.76rem;
  border: 0;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}
.error {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: red;
    padding: 3px;
    margin-bottom: 4px;
}
