.place--list__container {
  display: flex;
  flex-wrap: wrap;
}
.empty {
  width: 350px;
  height: 350px;
}
.empty__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

/* @media screen and (max-width: 1279px) {
  .place--list__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1023px) {
  .place--list__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .place--list__container {
    grid-template-columns: repeat(1, 1fr);
  }
} */
