.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.paginationItem {
  background: #fff;
  border: 2px solid var(--main-color);
  padding: 10px 15px;
  border-radius: 10px;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: var(--main-color);
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.prev:hover,
.next:hover {
  box-shadow: 0 0 3px var(--main-color);
}
.paginationItem.active {
  border: 1px solid #888;
  color: var(--main-color);
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

.dataContainer {
  display: flex;
  flex-wrap: wrap;
}
