.card-item {
  width: var(--card-width);
  /* width: 30%; */
  height: var(--card__img-height);
  margin: 0.5rem;
  color: var(--main-color-black);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  margin-top: 1rem;
}
.card__image--img {
  width: 90%;
  height: var(--card-height);
  padding: 0.5rem;
  margin: 1rem;
  margin-bottom: .5rem;
}
.card__title {
  font-size: 15px;
  margin-left: 1rem;
}
.card__rating {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
}
.card__rating span {
  font-size: 12px;
  color: var(--main-background-gray);
}
.card__location {
  margin-left: 0.5rem;
  margin-top: 4px;
  display: flex;
  font-size: 13px;
  justify-content: baseline;
  align-items: center;
}
.card__location--address {
  font-weight: normal;
  color: var(--txt-color-light);
}
.card__location--icon {
  color: var(--third-color-blue);
  margin-bottom: 3px;
}

.card__tag {
  margin-top: 4px;
  margin-left: 0.5rem;
}
.card__location--desc {
  color: var(--main-background-gray);
  font-size: 13.5px;
}
.card__time {
  margin-left: 0.75rem;
  margin-top: 0.5rem;
  margin-right: 0.25rem;
  color: var(--main-background-gray);
  font-size: 12px;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
}
.card__edit {
  position: absolute;
  bottom:0;
  right: 2.221rem;
  width: 2.223rem;
  height: 2.223rem;
  /* background: var(--second-color-white); */
  border-radius: 100px;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
.card__edit:hover {
  background: var(--second-color-blue-pastel);
  color: var(--main-color-black);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.star {
  color: var(--second-color-orange);
  font-size: 12px;
}

.card__actions {
  align-items: flex-end;
}
.icon {
  width: 7px;
  height: 7px;
}
.card__name {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.card__image--div {
  position: relative;
}
.card__rating--left {
  font-size: 12px;
}
.card__content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.iconPopular{
  color: chocolate;
}

/* 
@media screen and (max-width: 1280px) {
  :root{
    --card-width:242px;
  }
}
@media screen and (max-width: 1023px) {

}
@media screen and (max-width: 600px) {
  
} */
