
.map-container {
  height: 70vh;
  margin-top: 10px;
}

.search-contaner {
  padding: 50px 10px;
  color: rgb(160, 10, 10);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px !important;
  margin-right: 5px !important;
}

.back-button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #ffffff !important;
  opacity: 0.8;
  position: absolute !important;
  top: 11%;
}

.back-button:hover {
  background-color: #ffffffcb !important;
  transition: ease-in-out 0.5s;
}

.input-text {
  font-size: 13px !important;
  width: 100% !important;
}

.action-button {
  font-size: 14px;
  text-transform: capitalize !important;
}

.search-grid {
  align-items: center;
}
/* Search box */

.search-container {
  width: 100%;
}

.autocomplete-dropdown-container {
  visibility: hidden;
  position: absolute;
  width: 100%;
}
.autocomplete-dropdown-container-visible {
  position: absolute;
  width: 100%;
  z-index: 5;
  visibility: visible;
}

.suggestion-item,
.suggestion-item--active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffff;
  padding: 5px 2px;
  margin-right: 3.75rem;
  cursor: pointer;
}
.desciption {
  display: flex;
  flex-direction: column;
}

.suggestion-item--active {
  background-color: #a09e9eaf;
}
.suggestion-item:hover {
  background-color: rgb(226, 226, 226);
}

.suggestion-item-text {

  margin-left: 5px;
}

.main-text {
  font-size: 13px;
  font-weight: 500;
  color: rgb(14, 13, 13);
}

.secondary-text {
  font-weight: 400;
  font-size: 12px;
  color: rgb(110, 110, 110);
}

.input-container {
  width: 100%;
  border-radius: 2px;
  box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 2px 3px -1px rgb(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.6);
  padding: 7px 10px;
  background-color: #ffff;
}

.search-icon {
  position: relative !important;
  float: right;
  padding: 2px 5px !important;
}

.search-place-input {
  width: 100%;
  font-size: 15px !important;
  font-weight: 500;
  padding: 5px 15px !important;
}

.location-icon {
  font-size: 18px;
  color: #a09e9e;
  padding: 2px;
}

.searchLoading {
  height: 150px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: rgba(248, 246, 246, 0.933);
}

.geometry-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.geometry-description {
  display: block;
  margin: 15px 10px 8px 5px;
}

.geometry-text {
  font-size: 15px;
  color: rgb(77, 72, 72);
}

@media screen and (max-width: 1279px) {
  
}
@media screen and (max-width: 900px) {
  .suggestion-item{
    margin-right: 1rem;
  }
}
@media screen and (max-width: 600px) {
}
