.drop__review {
  display: flex;
  /* flex-flow: row wrap; */
  /* display: grid;

    grid-template-columns: repeat(auto-fill, minmax(285px,1fr)); */
}
.drop__review--contain{
 display: flex; 
  flex-wrap: wrap;
  width: auto;
}