
.review--container{
    display: block;
}
.review__container--main{
    display: flex;
}
.review__container--image{
    width: 75px;
    height: 75px;
    opacity: 0.8;
    background-color: black;
    position: relative;
    margin: 4px;
}
.review__image{
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: 2;
}
.review__image:hover ~ .review__div--opacity{
    visibility: visible;
    background-color: black;
    opacity: 0.7;
}
.review__div--opacity{
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: 12;
    visibility: hidden  ;
}

.review__button--remove{
    position:absolute;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    top: -5px;
    right: -5px;
    z-index: 17;
    background-color: white;
    display: grid;
    place-items: center;
}
.review__button--remove:hover{
    background-color: #f1f1f1;
}
.review__progress{
    margin-left: 2px;
    margin-right: 2px;
}